body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

#btnCrear {
    float: right;
}

.modal-lg {
    max-width: 500px;
}
